{% extends 'main/layoute.html' %}

{% block title %}
    <title>Главная страница CatDjango</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">Добро пожаловать на сайт {{caption}}!</h1>
        <p class="lead">
            Приветствую вас на моем первом веб-сайте, разработанном с помощью Django, мощного и элегантного Python фреймворка.
        </p>
        <p>
            Здесь я экспериментирую с веб-разработкой, и ваш визит - отличная поддержка для меня. Этот проект - это мой старт в мир Django.
        </p>
         <p>
           Пока что сайт находится на начальном этапе разработки, но в будущем здесь появится много интересных вещей.
            Я планирую добавить различные функциональности и контент.
        </p>
        <p>
           Вы можете использовать навигационное меню слева для перемещения по сайту и ознакомления с разными разделами.
        </p>
        <p>
           Не стесняйтесь исследовать, оставлять свои отзывы и делиться идеями. Ваше мнение очень важно для меня!
        </p>
        <p>
           Буду рад, если вам понравится мой CatDjango.
        </p>
        <p>
           Спасибо, что вы здесь!
        </p>
    </div>
{% endblock %}
